.circle-bg {
  position: fixed;
  width: 900px;
  height: 900px;
  background-image: url('/public/images/graphic-main.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.circle-1 {
  bottom: 90px;
  left: 27%;
}

.circle-2 {
  top: 200px;
  left: -220px;
}

.circle-3 {
  top: 300px;
  right: -210px;
}